
#container_create {
    margin: 10px 100px;
}


.col-sm {
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 15px;
}

.msg {
    background-color: #D4EDDA;
    color: #155724;
    border: 1px solid #C3E6CB;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}


.btn-dark {
    margin-top: 20px;
}

.fail {
    background-color: #edd4d8;
    color: #57152e;
}

.alert_div {
    font-family: "Poppins";
    color: red;
    font-weight: 700;
    font-size: 12px;
}

.alert_div img {
    width: 15px;
    color: red;
}