body {
  background-color: #E8EDED;
}


.tela-de-livro {
  display: flex;
  margin: 3em;
  flex-wrap: wrap;
  max-width: 1920px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.tela-de-livro .frame {
  display: flex;
  width: 1920px;
  height: 107px;
  align-items: center;
  gap: 107px;
  padding: 0px 6px 0px 108px;
  position: relative;
  margin-left: -10px;
}

.tela-de-livro .vector {
  position: relative;
  width: 29px;
  height: 28px;
}

.tela-de-livro .LBRIYS {
  position: relative;
  width: 200px;
  height: 71px;
  object-fit: cover;
}

.tela-de-livro .div {
  display: inline-flex;
  align-items: center;
  gap: 758px;
  position: relative;
  flex: 0 0 auto;
}



.tela-de-livro .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -10.5px;
  margin-bottom: -8.5px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #9a9a9a;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.tela-de-livro .img {
  position: relative;
  width: 20.31px;
  height: 20.31px;
  margin-top: -7.66px;
  margin-bottom: -7.66px;
}

.tela-de-livro .frame-2 {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.tela-de-livro .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #405a94;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  justify-content: center;
}

.tela-de-livro .vector-2 {
  position: relative;
  margin-top: -1px;
  width: 16px;
  height: 24px;
  justify-content: center;
  margin-right: 50px;
  
}

.tela-de-livro .container-5 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px 50px;
  position: relative;
  margin: 3em 0;
}

.tela-de-livro .container-4 {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  gap: 63px;
  position: relative;
}

.tela-de-livro .container-princ {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  background-color: white;
  padding: 20px;
  border-radius: 16px;
  min-height: 100%;
}

.tela-de-livro .titulo {
  width: 100%;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 2em;
  letter-spacing: 0;
  line-height: normal;
  text-wrap: wrap;
}

.tela-de-livro .OBJECTS {
  position: relative;
  min-width: 128;
  width: 256px;
  height: 384px;
  border-radius: 16px;
}

.tela-de-livro .disponibilidade {
  position: relative;
  width: fit-content;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.tela-de-livro .container-1 {
  display: flex;
  flex-direction: column;
  width: 100;
  min-width: 60vw;
  max-width: 75vw;
}

.container-1 {
  background-color: white;
  border-radius: 16px;
  padding: 50px 30px;
}

.star_icon {
  width: 25px;
  height: 25px;
}

.tela-de-livro .container-2 {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
  gap: 355px;
  padding: 18px 0px 0px;
  position: relative;
}

.avaliacao_value {
  font-size: 16px;
  margin-bottom: 0;
  margin-left: .5em;
}

.avaliacao {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tela-de-livro .container-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 19px;
  position: relative;
  flex: 0 0 auto;
}
.tela-de-livro .item-book {
  position: relative;
  height: 28px;
  padding: 1em 0;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  color: rgba(64, 90, 148, 1);
}

.resp {
  color: black;
  width: fit-content;
}

.lembrete {
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  font-size: 16px;
}

.tela-de-livro .frame-9 {
  position: relative;
  flex: 0 0 auto;
}

.tela-de-livro .sinopse {
  margin-bottom: 100px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  background-color: rgb(232 237 237);
  line-height: normal;
  padding: 10px;
  border-radius: 16px;
  max-width: 100%;
  text-wrap: wrap;
  width: fit-content;
}

.tela-de-livro .botao-reserva {
  display: flex;
  flex-wrap: wrap;
  width: 143px;
  height: 44px;
  align-items: center;
  justify-content: center;
  gap: 10px 0px;
  position: relative;
  border-radius: 24px;
  cursor: pointer;
}

.btn_book {
  font-family: "Poppins";
  font-size: 16px;
  padding: 10px 10px;
  cursor: pointer;
  border-radius: 16px;
}

.tela-de-livro .text-wrapper-9 {
  position: relative;
  width: fit-content;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.botao-reserva {
  display: inline-block;
}

.botao-reserva button {
  background-color: #405A94;
  border: none;
  color: white; /* Para garantir que o texto seja azul */
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 16px;
}

.input-pesquisa input[type="text"] {
  border-radius: 16px;
  width: 390px;
  height: 48px;
  background-color: #E8EDED;
  text-align: center;
  outline: none;
  border: none;
}

.seta {
  border: none;
  background-image: none;
  background: none;
}

button:active{
  background: none;
  background-image: none;
}

.usua {
  background: none;
  border: none;
  color: #405A94;
  font-size: 16px;
}

.buttons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 64px;
}

.disponibilidade {
  background-color: rgba(232, 237, 237, 1);
  padding: 10px 20px;
  border-radius: 16px;
}
/* Estilos para dispositivos de tela pequena (celulares) */
@media (max-width: 768px) {
.tela-de-livro .container-5 {
  flex-direction: column; /* Mudar para layout de coluna */
  align-items: center; /* Alinhar os itens no centro */
}

.tela-de-livro .container-4 {
  width: 100%; /* Ocupar toda a largura disponível */
  align-items: center; /* Alinhar os itens no centro */
}

.tela-de-livro .container-1 {
  width: 100%; /* Ocupar toda a largura disponível */
}

.tela-de-livro .container-2 {
  flex-direction: column; /* Mudar para layout de coluna */
  align-items: center; /* Alinhar os itens no centro */
  gap: 20px; /* Espaçamento entre os elementos */
}

.buttons-container {
  flex-direction: column; /* Mudar para layout de coluna */
  gap: 20px; /* Espaçamento entre os botões */
}
}
/* Estilos para dispositivos de tela média (tablets) */
@media (min-width: 768px) and (max-width: 1024px) {
.tela-de-livro .container-5 {
  flex-direction: row; /* Voltar ao layout de linha */
  align-items: center; /* Alinhar os itens no centro */
}

.tela-de-livro .container-4 {
  width: auto; /* Definir a largura automaticamente */
  align-items: flex-start; /* Alinhar os itens no topo */
  gap: 50px; /* Espaçamento entre os elementos */
}

.tela-de-livro .container-1 {
  width: auto; /* Definir a largura automaticamente */
  max-width: 50%; /* Limitar a largura para evitar que ocupe toda a tela */
}

.buttons-container {
  flex-direction: row; /* Manter o layout de linha */
  justify-content: center; /* Alinhar os botões ao centro */
  gap: 20px; /* Espaçamento entre os botões */
}
}




