body {
    overflow-x: hidden;
}

.container_sections {
    margin-left: 1em;
    margin-top: 4em;
    height: fit-content;
}

.titulo_section {
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: "Poppins";
}

.modern_section {
    width: fit-content;
    background-color: hsl(36, 78%, 23%);
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.swiper {
    margin-top: 1em;
    width: auto;
    height: auto;
}

.slide {
    height: fit-content;
    border-radius: 16px;
    background-color: #ffffff;
    padding: 5px 10px;
}

.swiper-slide {
    width: 100%;
    min-width: 10em;
}

.swiper--pagination {
    position: relative;
}

.container-slide {
    margin-top: 2em;
}

.swiper-button-next, .swiper-button-prev {
    color: black;
}

.container_book {
    color: black;
}

/* ==========================
   Ajuste do tamanho da imagem
========================== */
.img_book {
    width: 150px; /* largura reduzida */
    height: auto; /* mantém proporção */
    border-radius: 16px;
}

/* Info do livro */
.info_book {
    font-family: "Poppins";
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1em 0;
}

.title_star {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container_star {
    display: flex;
    flex-direction: row;
    gap: 0.3em;
    align-items: center;
}

.avaliacao {
    margin: 0;
    font-size: 12px;
}

.star-icon {
    width: 1em;
    height: 1em;
}

.title_book {
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 400;
}

.author_book {
    font-weight: 600;
    font-size: 14px;
    margin-top: 0.3em;
    color: #6d749c;
}

:root {
    --swiper-navigation-size: 24px;
}

.ancor_book {
    text-decoration: none;
    color: none;
}

.ancor_book:hover {
    text-decoration: none;
    color: none;
}
