html
body
.tw-text-center {
  text-align: center;
}


* {
  font-family: "Poppins", sans-serif;
}

body{
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin: 0;
  padding: 0;
  background-color:white;
  color: rgb(255, 255, 255);
}



header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #fff;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 120px;
  width: 600;
  margin-right: 10px;
  margin-left: 110px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.cadastro {
  background-color: #8c9acb;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

.intro {
  text-align: center;
  padding: 50px 20px;
}

.intro h2 {
  font-weight: 400;
  margin-top: 40px;
  justify-content: left;
  margin-left: 150px;
  display: flex;
  color: #000000;
}

.intro h1 {
  font-weight: 500;
  font-size: 38px;
  margin-top: 10px;
  justify-content: left;
  margin-left: 150px;
  display: flex;
  color: #000000;
}



.intro p {
  margin-top: -20px;
  font-size: 18px;
  justify-content: left;
  margin-left: 150px;
  display: flex;
  color: #000000;
}

.btn {
  width: fit-content;
  text-decoration: none;
  background-color: #405a94;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
  justify-content: left;
  margin-left: 150px;
  display: flex;
  position: relative;
  font-weight: 400;
}

.Lybris {
  color: #405A94;
}


.features {
  display: flex;
  justify-content: space-around;
  background-color:white;
  margin-top: 120px; /* Move a seção features para o fim do main */
}

.feature {
  max-width: 300px;
  text-align: center;
}

.feature-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.feature-header svg {
  width: 25px;
  height: 25px;
  margin-bottom: 2px; /* Reduzindo o espaçamento entre a imagem SVG e o título */
}

.feature h3 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #000000;
}

.feature p {
  color: rgb(0, 0, 0);
  text-align: justify;
}

.nav-btn {
  background: none;
  border: none;
  color: #333;
  font-weight: 600;
  cursor: pointer;
  padding: 10px 20px;
  font-family: 'Poppins', Helvetica, sans-serif;
  font-size: 16px;
}

.cadastro {
  background-color: #405A94;
  color: white;
  border-radius: 5px;
}

.loginst{
  background: none;
  border: none;
  color: #333;
  font-weight: 600;
  cursor: pointer;
  padding: 10px 20px;
  font-family: 'Poppins', Helvetica, sans-serif;
  font-size: 16px;
}

#img{
  margin-left: 10px;
  margin-right: 20px; /* Reduzindo o espaçamento à direita da imagem SVG */
}


/* Estilos para dispositivos de tela pequena (celulares) */
@media (max-width: 768px) {
  .logo img {
    height: 80px;
    width: auto;
    margin-left: 20px;
    margin-right: 0;
  }

  header {
    padding: 10px 20px;
  }

  nav ul {
    gap: 10px;
    
  }

  .intro h2, .intro h1, .intro p {
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
  }

  .intro h3 {
    margin-left: 20px;
    margin-right: 20px;
    text-align: right;
  }

  .btn {
    display: block;
    margin: 0 auto; /* Centraliza o botão horizontalmente */
  }

  .cadastro {
    display: none; /* Oculta o botão de cadastro */
  }


  .features {
    flex-direction: column;
    align-items: center;
  }

  .feature {
    margin-bottom: 30px;
  }
  .blue-text{
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;

  }
}

/* Estilos para dispositivos de tela média (tablets) */
@media (min-width: 768px) and (max-width: 1024px) {
  .logo img {
    height: 100px;
    width: auto;
  }

  .intro h2, .intro h1, .intro p {
    margin-left: 50px;
    margin-right: 50px;
  }


  .features {
    padding: 30px 20px;
  }
}
